.App {
  text-align: center;

  /* Fit app height to screen size */
  min-height: 100%;
  overflow: auto;
}

.Footer {
  position:absolute;
  bottom: 0;
  width: 100vw;
}

.CubicSpline {
  width: 640px;
  height: 320px;
}